<!-- Intro Header -->
    <header id="masthead" class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">ФГБОУ ВПОБ "Ульяновский государственный университет"</h1>
              <p class="intro-text">
                <span id = 'dynamic-text'>Трехдневный хакатон на лучшую разработку
                <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed ultrices velit. Mauris id magna a ipsum efficitur rutrum. Proin gravida metus eu interdum feugiat. Mauris vel metus suscipit mi gravida eleifend non non diam. Quisque fermentum massa mi, vitae sodales magna tempus a. Phasellus nec sollicitudin nibh. Morbi ut tortor lorem. Nulla lacinia orci eu elementum porta. Etiam rutrum ornare ligula, nec aliquet libero venenatis nec.
                </span>
              </p>
              <a href="#download" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->

    <!-- Download Section -->

    <section id="download" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h3>~Где проходит~</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed ultrices velit. Mauris id magna a ipsum efficitur rutrum. Proin gravida metus eu interdum feugiat. Mauris vel metus suscipit mi gravida eleifend non non diam. Quisque fermentum massa mi, vitae sodales magna tempus a. Phasellus nec sollicitudin nibh. Morbi ut tortor lorem. Nulla lacinia orci eu elementum porta. Etiam rutrum ornare ligula, nec aliquet libero venenatis nec. </p>
        </div>
      </div>
    </section>

<section id="registration" class="registration-section content-section text-center">
    <div class="container">
        <div class="col-lg-8 mx-auto">
            <h3>~Регистрация~</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed ultrices velit. Mauris id magna a ipsum efficitur rutrum. Proin gravida metus eu interdum feugiat. Mauris vel metus suscipit mi gravida eleifend non non diam. Quisque fermentum massa mi, vitae sodales magna tempus a. Phasellus nec sollicitudin nibh. Morbi ut tortor lorem. Nulla lacinia orci eu elementum porta. Etiam rutrum ornare ligula, nec aliquet libero venenatis nec. </p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Регистрация</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <p>asd</p>
            <%= render 'new' %>

            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</section>
    <section id="timeline" class="timeline-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h3>~Таймлайн~</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed ultrices velit. Mauris id magna a ipsum efficitur rutrum. Proin gravida metus eu interdum feugiat. Mauris vel metus suscipit mi gravida eleifend non non diam. Quisque fermentum massa mi, vitae sodales magna tempus a. Phasellus nec sollicitudin nibh. Morbi ut tortor lorem. Nulla lacinia orci eu elementum porta. Etiam rutrum ornare ligula, nec aliquet libero venenatis nec. .</p>

        </div>

      </div>
    </section>

    <section id="shedule" class="shedule-section content-section text-center">
      <div class="container">
        <div class="col-lg-12 mx-auto">
          <h3><a class="tag-text"><font color="red">&lth3&gt</font></a>Расписание<a class="tag-text"><font color="red">&lth3&gt</font></h3>

  <table class="table table-striped">

  <thead>
    <tr>
      <th>Время</th>
      <th>Место</th>
      <th>Действие</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
    <tr>
      <td>Завтрак</td>
      <td>Обед</td>
      <td>Ужин</td>
    </tr>
  </tbody>
</table>

        </div>
      </div>
    </section>



    <section id="contact" class="sponsor-section content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <p><img class="sponsor-photo" src="/assets/ECU.png" alt=""></p>
              </li>
              <li class="list-inline-item">
                <p><img class="sponsor-photo" src="/assets/ulsu.png" alt=""></p>
              </li>
              <li class="list-inline-item">
                <p><img class="sponsor-photo" src="/assets/itech.png" alt=""></p>
              </li>
              <li class="list-inline-item">
                <p><img class="sponsor-photo" src="/assets/ulsu.png" alt=""></p>
              </li>
              <li class="list-inline-item">
                <p><img class="sponsor-photo" src="/assets/ulsu.png" alt=""></p>
              </li>
              <li class="list-inline-item">
                <p><img class="sponsor-photo" src="/assets/ulsu.png" alt=""></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>


